<div class="banner">
  <h1 class="text-white text-h2.5 text-center font-serif mb-5 "><strong>Bienvenue sur 7'Mates.fr</strong></h1>
  <div class="container">
    <div class="text-center mb-5 bannerimg">
      <%= link_to products_path do %>
        <%= image_tag 'banner.svg', class: 'img-fluid' %>
      <% end %>
    </div>
    <div class="card-container"> <!-- Container for flexbox -->
      <div class="card text-white">
        <%= link_to '/t/univers/sportswear' do %>
          <%= image_tag 'sportswearbg.png', alt: 'sportswear background', class: 'card-img img-fluid' %>
          <div class="card-img-overlay">
            <p class="card-text">Découvrez notre gamme SPORT.</p>
          </div>
        <% end %>
      </div>
      <div class="card text-white">
        <%= link_to '/t/univers/luxe' do %>
          <%= image_tag 'luxebg.png', alt: 'luxe background', class: 'card-img img-fluid' %>
          <div class="card-img-overlay">
            <p class="card-text">Explorez notre gamme LUXE pour des occasions spéciales.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
