<div class="banner">
  <div class="container">
    <div class="text-center mb-5">
      <%= link_to products_path do %>
        <%= image_tag 'banner.svg', class: 'img-fluid bannerimg' %>
      <% end %>
    </div>
    <div class="card-container"> <!-- Container for flexbox -->
      <div class="card text-white">
        <%= link_to '/t/univers/sportswear' do %>
          <%= image_tag 'sportswearbg.png', alt: 'sportswear background', class: 'card-img img-fluid' %>
          <div class="card-img-overlay">
          </div>
        <% end %>
      </div>
      <div class="card text-white">
        <%= link_to '/t/univers/luxe' do %>
          <%= image_tag 'luxebg.png', alt: 'luxe background', class: 'card-img img-fluid' %>
          <div class="card-img-overlay">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
