<footer class="wrapper mx-auto grid-container w-full">
  <div class="col-span-full border-t-[1px] border-t-black dark:border-t-white py-16">
    <div class="text-center col-span-full md:flex md:items-center md:justify-between md:col-start-2 md:col-span-10">
      <div class="col-span-full md:mb-0">
        <%= image_tag "logo.png", class: "mx-auto w-14 mb-7 dark:hidden" %>
        <%= image_tag "logo.png", class: "mx-auto w-14 mb-7 hidden dark:block" %>
      </div>
      <div class="text-center mt-10 align-text-center">
        <a href="#" class="hover:underline mr-6 bebas-neue-regular">Conditions de vente</a>
        <a href="#" class="hover:underline mr-6 bebas-neue-regular">Mentions légales</a>
        <a href="<%= contact_path %>" class="hover:underline bebas-neue-regular">Contactez-nous</a>
        <br><br>
        <p>© <%= Time.current.year %> <%= Spree::Store.default.name %></p>
      </div>
      <div class="col-span-full">
        <%= render "shared/social_icons" %>
      </div>
    </div>



  </div>
</footer>
