<footer class="wrapper mx-auto grid-container w-full">
  <div class="col-span-full border-t-[1px] border-t-black dark:border-t-white py-16">
    <div class="text-center col-span-full md:flex md:items-center md:justify-between md:col-start-2 md:col-span-10">
      <div class="col-span-full md:mb-0">
        <%= image_tag "logo.png", class: "mx-auto w-14 mb-7 dark:hidden" %>
        <%= image_tag "logo.png", class: "mx-auto w-14 mb-7 hidden dark:block" %>
      </div>
      <div class="text-center mt-10 align-text-center">
        <a href="#" class="hover:underline mr-6">Conditions de vente</a>
        <a href="#" class="hover:underline mr-6">Mentions légales</a>
        <a href="#" class="hover:underline">Contactez-nous</a>
        <br><br>
        <p>© <%= Time.current.year %> <%= Spree::Store.default.name %></p>
      </div>
      <div class="col-span-full">
        <%= render "shared/social_icons" %>
      </div>
    </div>
    <%
      available_locales = current_store.available_locales.map do |locale|
        [
          I18n.t('spree.i18n.this_file_language',
          locale: locale,
          default: locale.to_s,
          fallback: false), locale
        ]
      end.sort
    %>


  </div>
</footer>
